name: Cipher CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13.2
      uses: actions/setup-python@v3
      with:
        python-version: "3.13.2"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with pytest
      run: |
        cd src
        python -m pytest
    - name: Lint with ruff
      run: |
        ruff check src
    - name: Lint with safety
      run: |
        safety checkout
      continue-on-error: true
    - name: Lint with bandit
      run: |
        bandit -c bandit.yaml src